.container-about {
    position: relative;
    margin: 5px auto;
    width: 80%;
    padding-top: 4%;
}

.container-skill {
    position: relative;
    margin: 5px auto;
    width: 80%;
    margin-top: 13%;
}

.container-skill .skills-subHead {
    text-align: center;
    font-size: 15px;
}

.container-skill .skills-head {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.container-skill .skills-card {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.container-skill .skills-card .skills-cat-card {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    scale: 1;
    color: #000;
    align-items: center;
    justify-content: center;
}

.skills-card .skills-cat-card:hover {
    box-shadow: 0px 0px 10px rgb(35, 48, 235);
    transform: scale(1.1);
}

.skills-cat-card .skills-categories {
    text-align: center;
    font-size: 22px;
    padding-bottom: 7px;
    font-weight: bold;
}

.skills-type-card {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    width: 300px;
}

.skills-type-card .skills-types {
    width: 140px;
    scale: 1;
}

.skills-types .skills-name {
    font-weight: bold;
    font-size: 17px;
}

.skills-types .skills-lvl {
    font-style: italic;
    font-size: 15px;
}

@media (max-width: 800px) {
    .container-about {
        padding-top: 20%;
    }
}

.container-about .title-about {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 20px;
}

.card-about {
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 70px;
    margin-bottom: 70px;
    overflow: visible;
    cursor: pointer;
    position: relative;
}

.card-about::before,
.content-about {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #00000022;
    transition: transform 300ms, box-shadow 200ms;
}

.image-about {
    width: 300px;
}


.container-about .about-text {
    text-align: justify;
    font-size: 21px;
    margin-left: 50px;
    margin: 50px;
}




.card-about .content-about {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateZ(-5deg);
}



.card-about:hover::before,
.card-about:hover .content-about {
    transform: rotateZ(0deg);
}

.card-about:active::before,
.card-about:active .content-about {
    box-shadow: none;
}